@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.corpo{
    width: 80%;
    height: auto;
    margin: 30px auto;
    align-items: center;
}
.caixa {
    background-color: red;
    height: 100vh;
    width: 100vh;
    margin: 20px auto;
}
h1 {
    color: black;
    font-weight: 80;
    text-align: center;
    padding: 15px 0;
    padding-left: 5vh;
    pointer-events: none;
}

p {
    margin-top: 20px;
   text-align: center;
   padding-left: 5vh;
}

.cxText {
    text-align: center;
    margin: 20px;
    margin-left: 25vh;
    padding: 5px 20vh;
}
